<div class="container centre-text">

    <h1>New Sample</h1>

</div class>

<%= render 'reading_header', reading: @reading %>

<%= render 'form', sample_gp_1: @sample_gp_1, sample_gp_2: @sample_gp_2, sample_gp_3: @sample_gp_3, sample_gp_4: @sample_gp_4, reading: @reading %>