<div class="container">

    <h2><%= @readings.land_name %></h2>
    <p>Please enter your new information below.</p>

    <h1>Edit Post</h1>

    <%= render 'form', readings: @readings %>

    <p><%= link_to 'Return', readings_path %></p>

</div>