<div class="login">

  <div class="login-inner">

    <h1>Hello, <%= current_user.first_name %></h1>

    <p id="notice"><%= notice %></p>

    <% if current_user.is_a?(GuestUser) %>
      <p>Welcome to the Credible Food Project. Please log in.</p>
    <% else %>
      <%= render 'reading_list', readings: @user_readings %>
    <% end %>

  </div>

</div>