<p id="notice"><%= notice %></p>

<% if current_user.is_a?(GuestUser) %>
  <p>Welcome to the Credible Food Project. Please log in.</p>
<% else %>
  <%= render :partial=>"reading_list", :locals=>{:readings => @user_readings} %>
<% end %>