a {
    color: #0A5271;
    text-decoration: none;
}

a:hover {
    color: #97B3BF;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #3A3A3C;
    margin: 0;
}

div {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    -webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
}

input#user_email, input#user_password {
    line-height: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #3A3A3C;
    font-size: 0.9em;
    border: 1px solid #97B3BF;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

tr {
    height: 40px;
}

tr:nth-of-type(odd) {
    background: #F0F0F0;
}

.actions, .field {
    display: block;
    padding: 10px 10px 10px 0;
}

.centre-text {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 90%;
}

.report-container {
    display: flex;
}

.login {
    padding: 20px;
}

.login-inner {
    margin: 0 auto;
    max-width: 90%;
}

.logo {
    margin: 0 auto;
    max-width: 200px;
    display: block;
}

.main-title {
    background: #97B3BF;
    padding: 20px 0;
    display: none;
}

.remember-me {
    width: 10%;
}