@import "bootstrap";
@import "font-awesome";

* {
    margin: 0;
}

a {
    color: #8E5F34 !important;
    text-decoration: none;
}

a:hover {
    color: #213924 !important;
    text-decoration: none !important;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #3A3A3C;
    margin: 0;
    letter-spacing: 0.05em;
}

div {
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.cfp-field label, 
.cfp-field em,
.cfp-field i {
    width: 100%;
    display: block;
}

.field_with_errors input {
    border: 1px solid #631212 !important;
    -webkit-box-shadow: 0px 0px 5px 0px #9C1D1D;
    -moz-box-shadow: 0px 0px 5px 0px #9C1D1D;
    box-shadow: 0px 0px 5px 0px #9C1D1D;
}

.footer-text a {
    color: #D0FCD4 !important;
}

.footer-text a:hover {
    color: #8AD690 !important;
}

h1, h2, h3, h4, h5, h6, p {
    color: #4E4E52 !important;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 25px !important;
}

p {
    line-height: 1.5em;
}

input#user_remember_me {
    width: auto;
    margin: 10px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    padding: 10px;
}

tr {
    height: 40px;
}

tr:nth-of-type(odd) {
    background: #F0F0F0;
}

.actions {
    max-width: 100px;
}

.actions, .field {
    display: block;
    padding: 10px;
}

.boxfresh-logo {
    width: 250px;
    height: auto;
}

.cfp-logo {
    width: 85px;
    height: auto;
}

.centre-text {
    text-align: center;
}

.cfp-field input, #reading_other_notes {
    border-radius: 7.67px;
    border: 1px solid #99a2aa;
    width: 95%;
    padding: 10px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 200;
    color: #3A3A3C;
    margin-bottom: 10px;
}

.cfp-field:focus {
    border: 1px solid #99a2aa;
    -webkit-box-shadow: 0 0 4px #99a2aa;
    -webkit-focus-ring-color: 0 0 4px #99a2aa;
    box-shadow: 0 0 4px #99a2aa;
}

// .container {
//     margin: 0 10px;
//     max-width: 100%;
// }

.footer-text {
    font-size: 0.8em;
    font-weight: 200;
    color: #fff !important;
    text-align: center;
}

.reading-header-container {
    overflow: scroll;
}

.report-container {
    display: flex;
}

.landing-splash {
    padding: 10px;
    box-sizing: border-box;
}

.landing-splash-img {
    max-width: 100%;
    display: block;
    position: relative;
    top: -100px;
    z-index: -1;
    margin: 10px auto 0;
    border-radius: 7.67px;
}

.large-icon {
    font-size: 2em;
}

.login {
    padding: 0;
}

.login-top {
    padding: 20px;
    display: flex;
}

.login-top div {
    padding: 0 10px;
}

.login-top-inner {
    display: block;
}

.login-inner {
    margin: 0 auto;
    max-width: 90%;
}

.login-inner-blurb {
    max-width: 750px;
    margin: 0 auto;
}

.login-inner h2 {
    text-align: center;
}

.login-inner-top h3 {
    padding: 20px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.login-input {
    width: 100%;
}

.logo {
    margin: 0 auto;
    max-width: 150px;
    display: block;
}

.main-title {
    background: #97B3BF;
    padding: 20px 0;
    display: none;
}

.page-wrap {
    min-height: 100%;
    /* Equal to .site-footer height */
    margin-bottom: -160px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 160px;
}

.site-footer {
    background: #3A3A3C;
    text-shadow: #000 0 1px 0;
    padding: 25px;
}

.subtitle {
    margin-bottom: 0 !important;
}

.top {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 767px) {
    // .container {
    //     max-width: 90%;
    // }

    .landing-splash-img {
        max-width: 75%;
        margin: 25px auto 50px;
    }

    .login {
        padding: 20px;
    }

    .cfp-field input {
        width: 50%;
    }

@media (min-width: 767px) {
    .landing-splash-img {
        max-width: 60%;
    }
}
}