@import "bootstrap";

.flex-form {
  display: flex;
  flex-wrap: wrap;
}

.report-container {
    display: flex;
    width: 100%;
}

table.sample-report, .reading-header {
  float: left;
  width: auto !important;
  font-size: 1.7em !important;
  border: 0 !important;
  margin: 20px 0;
}

tr:nth-of-type(odd) {
  background: #f4f5f5;
}

td {
  vertical-align: top;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  font-size: 0.45em;
}