@import "bootstrap";

.flex-form {
  display: flex;
  flex-wrap: wrap;
}

.report-container {
    display: flex;
    width: 100%;
}

table.sample-report, .reading-header {
  float: left;
  width: auto !important;
  font-size: 1.7em !important;
  border: 0 !important;
  margin: 20px 0;
}

tr:nth-of-type(odd) {
  background: #D9E6EC;
}